{{- if .Values.modelConfig.create }}
apiVersion: kagent.dev/v1alpha2
kind: ModelConfig
metadata:
  name: {{ .Values.modelConfig.name }}
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "k2a-agent.labels" . | nindent 4 }}
spec:
  provider: {{ .Values.modelConfig.provider }}
  model: {{ .Values.modelConfig.model }}
  apiKeySecret: {{ .Values.modelConfig.secretRef.name }}
  apiKeySecretKey: {{ .Values.modelConfig.secretRef.key }}
{{- end }}
