apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: k2a-monitoring-metrics
  namespace: k2a-monitoring
  labels:
    app: k2a-monitoring
    component: monitoring
    prometheus: kube-prometheus
spec:
  selector:
    matchLabels:
      app: k2a-monitoring
      component: agent
  endpoints:
  - port: metrics
    interval: 30s
    path: /metrics
    scheme: http
    honorLabels: true
    relabelings:
    - sourceLabels: [__meta_kubernetes_pod_name]
      targetLabel: pod
    - sourceLabels: [__meta_kubernetes_pod_node_name]
      targetLabel: node
    - sourceLabels: [__meta_kubernetes_namespace]
      targetLabel: namespace
  namespaceSelector:
    matchNames:
    - k2a-monitoring